<div class="container-fluid animated fadeIn fast">
  <div class="fullPageRounds">
    <div class="row row-no-margin preVoting">
      <div class="col-12 fullHeight">
        <div class="fullWidth centered ">
          <h2 class="stateName"> <%= @current_genre_name %> </h2>
        
            <p class="groupInfoSubtext">
              <strong><%= @winning_song.name %></strong> by <strong><%= @winning_artist.name %></strong> is your winner!
            </p>

            <div class="centered embeddedSong hidden-lg">
              <iframe src="https://open.spotify.com/embed/track/<%= @winning_song.id %>" width="66%" height="92px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="centered embeddedSong hidden-md show-lg">
              <iframe src="https://open.spotify.com/embed/track/<%= @winning_song.id %>" width="74%" height="92px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="centered embeddedSong show-md">
              <iframe src="https://open.spotify.com/embed/track/<%= @winning_song.id %>" width="92%" height="92px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <%= link_to "View Artist", "https://open.spotify.com/artist/#{@winning_artist.id}", class: "btn btn-primary homeButton", target: "_blank"%>

            <%= link_to "Change Genre", select_current_genre_users_path(current_user), method: :put, class: "btn btn-outline-primary homeButton"%>
        </div>
      </div>

    </div>
  </div>

<footer class="fullWidth hide767">
  <div class="darkGreyBackground2">
    <div class="row recordstageFooter fixed-bottom">
      <div class="footerContent col-12">
        <h3 id="countdown">&nbsp;</h3><span class="hide" id="until">Until Next Bracket</span>
        <div class="nextBracketDay hidden"><%= @next_bracket_day %></div>
        <div class="floatRight">
          <% if current_user.song %>
              <span id="songsEntered"><span id="songEntry"><%= @current_user.song.genre.format_genre %> Entry - <strong><%=truncate(RSpotify::Track.find(current_user.song.track_id).name, :length => 23)%></strong> by <strong><%=RSpotify::Track.find(current_user.song.track_id).artists[0].name %></strong>  &nbsp;</span>
              <%= link_to "Remove", songs_destroy_path %> </span>
          <% else %>
              <span id="songsEntered"><span class="hide"><%= @current_genre.songs.count %>/<%= @current_genre.participant_cap %> Songs Entered &nbsp;</span>
              <%= link_to "Enter Now", songs_path%></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="fullWidth show767">
  <div class="darkGreyBackground2">
    <div class="row recordstageFooter fixed-bottom">
      <div class="footerContent col-12 centered">
        <% if current_user.song %>
            <span id="songsEntered"><span id="songEntry"><%= @current_user.song.genre.format_genre %> Entry - <strong><%=truncate(RSpotify::Track.find(current_user.song.track_id).name, :length => 23)%></strong> by <strong><%=RSpotify::Track.find(current_user.song.track_id).artists[0].name %></strong>  &nbsp;</span>
            <%= link_to "Remove", songs_destroy_path %> </span>
        <% else %>
          <%= link_to "Enter the Next Bracket", songs_path%></span>
        <% end %>
      </div>
    </div>
  </div>
</footer>
</div>  <!-- end container -->
