<!DOCTYPE html>
<html>
  <head>
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
<!--     <meta property="og:image" content="http://www.coachesneedsocial.com/wp-content/uploads/2014/12/BannerWCircleImages-1.jpg" />

    <meta property="og:description" content="A modern music competition." /> -->
    <title>Recordstage</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application'%>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90267810-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90267810-3');
    </script>

    
  </head>

  <body id="primary-content">
    <%- if controller_name != 'sessions' && controller_name != 'registrations'%>
      <%= render :partial => "partials/nav" %>
    <% end %>

      <%= render :partial => "partials/flash" %>

      <%= yield %>

   <%- if controller_name != 'sessions' && controller_name != 'registrations'%>
      <%= render :partial => "partials/footer" %>
    <% end %>
  </body>
</html>